

<div *ngFor=" let j of productsArray">
  <div *ngFor="let i of j.products" class="card" style="width: 18rem;">
    <div *ngIf="i.productImage" >
    <img class="card-img-top" [src]=" i.productImage" alt="Card image cap">
    </div>
    <div class="card-body">
      <h5 class="card-title">{{i.productName}}</h5>
      <p class="card-text">{{ i.productPrice}} || {{ i.rating }}</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>

    <!-- Need to use of instead of IN -->
    <div *ngFor=" let i of productsArray">getListData
      {{i.products[0].productId}}
    </div>
  </div>


   <div *ngFor=" let j of productsArray">
    {{j.products}}
    <div *ngFor="let i of j.products">
      {{  i.productImage}}
    {{i.productName}}
    {{ i.productPrice}}
    {{i.productSalePrice}}
   {{ i.rating }}
  </div>
   </div>

</div>
